<!DOCTYPE html>
<html>
  <head>
    <title>Index page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <!-- <p>My string: {{my_string}}</p>  -->

    <div>
        <form action="{{ url_for('submit_form') }}" method="POST">
            <div class="form-inline">
              <div class="form-group">
                <input type="text" class="line-input" name="todo-text">
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn" style="margin: 2px">Create TODO</button>
            </div>
          
            </form>
    </div>


    <table>
      {% for todo in todos %}
      <tr>
          <td>{{ todo.todo }}</td>
          <td>Done: {{ todo.is_completed }}</td>

          {% if not todo.is_completed %}
            <td>
              <form action="/todo/{{ todo.id }}" method="post">
                <button type="submit" class="btn-link">Done</button>
              </form>
            </td>
          {% endif %}
      </tr>
      {% endfor %}
  </table>


    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>